@import "reset.css";
@import "mobile.css";
@import "login.css";

/* set */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #020202;
    font-family: "돋움";
    font-size: 14px;
}

li {
    list-style-type: none;
}

div {
    display: block;
}

@media screen and (min-width:551px) {
    /* 헤더 */
    #menu_bar {
        background-color: #2c2a29;
        text-align: center;
        width: 100%;
    }
    #menu_bar li {
        margin-right: -4px;
        display: inline-block;
    }
    #menu_bar a {
        display: block;
        padding: 10px 30px;
        height: 28px;
    }
    /* #menu_bar a:hover {
        /* background-color: #2c2a29; */
    /* color: black; */
    /* background-color: #ccc; */
    /*}*/
    /* 메인 섹션 */
    form {
        margin-bottom: 10%;
    }
    #main_img {
        background-color: #feffff;
        text-align: center;
        width: 100%;
        height: auto;
    }
    #main_content {}
    #login_box {
        width: 450px;
        margin: 0 auto;
    }
    #login_title {
        margin: 50px 0 0;
        padding-bottom: 5px;
    }
    #login_form {
        margin-top: 20px;
    }
    #login_form input {
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }
    /* 스테이터스 */
    #status_content {
        height: 600px;
        background-color: #ccc;
        width: 100%;
    }
    #status_menu {
        display: block;
        height: 100%;
        width: 20%;
        background-color: #434343;
        float: left;
    }
    #status_login {
        height: 23%;
        background-color: aliceblue;
        padding: 5%;
    }
    #status_menu ul {
        font-size: 40px;
        margin-top: 20%;
    }
    #status_menu ul li {
        font-size: 100px;
        text-align: center;
    }
    #status_menu ul li:hover {
        background-color: #545454;
    }
    #status_target {
        display: block;
        float: left;
        width: 80%;
        height: 100%;
        background-color: #e0e0e0;
    }
    footer {
        background-color: #2c2a29;
        height: 100px;
        width: 100%;
        float: left;
        margin-top: 20px;
    }
    #footer_content {
        position: relative;
        width: 1000px;
        margin: 0 auto;
    }
    .fa-cog:before {
        content: "\f013";
    }
    /* 뿌터 */
    #footer_logo {
        position: absolute;
        top: 30px;
        left: 50px;
        font-size: 16px;
    }
    #footer_ul1 {
        position: absolute;
        top: 20px;
        left: 400px;
    }
    #footer_ul2 {
        position: absolute;
        top: 20px;
        left: 700px;
    }
}